---
layout: archive
title: " "
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


#{% for post in site.portfolio %}
  #{% include archive-single.html %}
#{% endfor %}

DQGen
======
<img src='/images/500x300.png'>

TEDQuiz
======
<img src='/images/500x300.png'>

AutoQuiz
======
<img src='/images/500x300.png'>

Ability estimation
======
<img src='/images/500x300.png'>

Reading difficulty estimation
======
<img src='/images/500x300.png'>

EDC
======
<img src='/images/500x300.png'>

VCSR
======
<img src='/images/500x300.png'>

PDAQA
======
<img src='/images/500x300.png'>
